/* Design for main data form below */

#content #main_data_form {
	background-color: #F7F7F7;
	padding: 10px 10px 10px 10px;
	position: relative;
}

#content #main_data_form img.edit {
	position: absolute;
	bottom: 10px;
	left: 20px;
	cursor: pointer;
}

#content #main_data_form #profile {
	margin: 20px auto 0px auto;
} 

#content #main_data_form #profile #profile_image_wrapper { 
	position: relative;
	width: 120px;  
	margin: 0px auto;
}  

#content #main_data_form #profile #profile_image_wrapper #upload {
	display: block;
	padding: 10px;
	color: #FFF;  
	background-color: #4585F3;  
	position: absolute;
	top: 60px;
	left: 2px;
	text-decoration: none;
	font-weight: normal;
	display: none;
}

#content #main_data_form #profile img {
	display: block;
	margin: 0px auto;
	width: 140;
	height: 140;  
	cursor: pointer;
}  

#content #main_data_form #profile .transcript_button {
	text-decoration: none;
	background-color: #4585F3;
	color: #FFFFFF; 
	padding: 10px;
	
}

#content #main_data_form #profile h2 {
	font-size: 20px;
	font-style: times new roman;
	color: #51A5E4;
	text-align: center;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
}

#content #main_data_form table {
	margin: 20px auto;
	width: 100%;
	border-collapse: collapse;
}  

#content #main_data_form tr {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

#content #main_data_form tr:last-child {
	border: none;
}

#content #main_data_form table td.main_data {
	color: #4585F3;  
	text-transform: uppercase;
	text-align: center;
}

#content #main_data_form table td {
	padding: 20px 10px 20px 10px;
}

#content #main_data_form table td input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C3C3C3;  
	margin: 5px;
}

#content #main_data_form tr td:nth-child(odd) {
	text-align: left;
}

#content #main_data_form tr td:nth-child(even) input {
	padding: 5px;
	width: 150px;
	text-align: center;
}

#content #main_data_form input[type='submit'] {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
}

#content #main_data_form input[type='reset'] {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
}

#content #main_data_form button.cancel {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
}

/* academic data form below */

#content #academic_data_form {
	background-color: #F7F7F7;
	padding: 25px 10px 10px 10px;
	border-top: 1px solid #F1F1F1;
	position: relative;
}

#content #academic_data_form img.edit {
	position: absolute;
	bottom: 0px;
	left: 20px;
	cursor: pointer;
}

#content #academic_data_form h2 {
	font-size: 30px;
	color: #51A5E4;
	text-align: center;
	padding: 10px;
	margin: 0px auto 30px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	border-bottom: 1px solid #D7D7D7;
	width: 300px;
}

#content #academic_data_form div label {
	display: block;
	width: 350px;
	color: #51A5E4;
	text-align: center;
	margin: 0px auto;
	text-transform: uppercase;
}

#content #academic_data_form div p {
	padding:10px;
}

#content #academic_data_form div p input {
	width: 350px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C3C3C3;
	text-align: center;
}    

#content #academic_data_form div.student_status {
	margin-top: 10px;
}

#content #academic_data_form div.student_status p { 
	text-align: center;
}

#content #academic_data_form table {
	margin-top: 30px;
	width: 100%;
	border-collapse: collapse;
}

#content #academic_data_form tr {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

#content #academic_data_form tr:last-child {
	border: none;
}

#content #academic_data_form table th {
	padding: 20px 10px 20px 10px;
	text-align: left;
	font-weight: bold;
}

#content #academic_data_form table th:nth-child(6) {
	text-align: center;
}  

#content #academic_data_form table th:nth-child(7) {
	text-align: center;
}

#content #academic_data_form table td {
	padding: 20px 10px 20px 10px;
	text-align: left;
}

#content #academic_data_form table td:nth-child(6) {
	text-align: center;
}

#content #academic_data_form table td:nth-child(6) input {
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #A9A9A9;
	padding: 5px;
	width: 80px;
}  


#content #academic_data_form table td:nth-child(7) {
	text-align: center;
}  
 
#content #academic_data_form table td:nth-child(7) input {
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #A9A9A9;
	padding: 5px;
	width: 80px;
}   
   
#content #academic_data_form input[type='submit'] {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
}

#content #academic_data_form input[type='reset'] {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
}

#content #academic_data_form .academic_cancel {
	padding: 10px;
	background-color: #4585F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
	color: #000;
	
}

#content .student_angular_trigger {
	display: none;
}


/* below is the design for the popup of adding subjects in managing students */

#subject_popup_form #student_type_div {
	padding: 10px;
}  

#subject_popup_form #student_type_div p {
	display: inline; 
	margin-left: 10px;
}    

#subject_popup_form #student_type_div p .current_semester {
	font-weight: bold;
}

#subject_popup_form #subjects_container {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	height: 300px;
	overflow: auto;
	padding: 10px 0px 10px 0px;
}

#subject_popup_form #subjects_container h2 {
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	border-top: 1px solid #DDDDDD;
}

#subject_popup_form #subjects_container h2:first-child {
	padding: 0px;
	border-top: none;
}

#subject_popup_form #subjects_container p.semester {
	text-align: center;
	margin: 0px;
}

#subject_popup_form #subjects_container p.no_subject {
	text-align: center;
	
}

#subject_popup_form #subjects_container h3 {
	text-align: center;
}

#subject_popup_form #subjects_container p {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#subject_popup_form #subjects_container input[type='checkbox'] {
	margin: 0px 10px 0px 20px;
}

#subject_popup_form table {
	margin: 20px auto 20px auto;
}

#subject_popup_form table td {
	
}

#subject_popup_form input[type='submit'] {
	display: block;
	padding: 10px;
	color: #FFF;
	background-color: #4585F4;
	margin: 10px auto 0px auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: none;
	cursor: pointer;
	margin-top: 15px;
}













































