#popup_option #popup_content {
	position: relative;
	width: 800px;
	height: 400px;
	margin: 40px auto 0px auto;
	background-color: #F1F1F1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #CCCCCC;
}

#popup_option #popup_content a.close {
	position: absolute;
	top: -1px;
	right: -1px;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 25px;
	padding: 10px;
	background-color: #4585F4;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#popup_option #popup_content h1 {
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#popup_option #popup_content  form {
	margin-top: 20px;
}

#popup_option #popup_content  form table {
	border-collapse: collapse;
}

#popup_option #popup_content  form table td {
	padding: 10px;
	text-align: left;
}

#popup_option #popup_content  form table td input[type='text'] {
	padding: 3px;
	border: 1px solid #D7D7D7;
	width: 250px;
	height: 23px;
}

#popup_option #popup_content  form table td .popup_actions {
	padding: 10px;
	background-color: #4585F4;
	border: none;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
























