* {
	margin: 0px;
	padding: 0px;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

input:focus, textarea:focus, select:focus { 
	outline: none;
}

body {
	color: #333;
	background-color: #F1F1F1;
}

#container {
	width: 1000px;
	margin: 0px auto;
}

#header {
	padding: 30px 10px 10px 10px;
	background-color: #F1F1F1;
	border-bottom: 1px solid #E5E5E5;
} 
 
#header #logo {
	width: 220px;
}

#header #logo h1 {
	font-size: 20px;
	margin-top: 5px;
	font-weight: bold;
	text-align: center;
}

#header form {
	margin-top: 20px;
	margin-left: 30px;
	position: relative;
	width: 359px;
}

#header form #keyword {
	padding: 4px;
	width: 270px;
	border: 1px solid #CCCCCC;
}

#header form #search_button {
	border: none;
	cursor: pointer;
}

#content h1 {
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #51A5E4;
	padding: 14px;
	display: block;
	text-transform: capitalize;
	font-size: 20px;
}

#content h1 a {
	color: #fff;
	text-decoration: none;
	padding: 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#content #delete_form {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content #delete_form table {
	width: 100%;
}

#content #delete_form table {
	border-collapse: collapse;
}

#content #delete_form  table th, #content tr {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

#content #delete_form  table th, #content table td {
	padding: 20px 10px 20px 10px;
	text-align: left;
}

#content #delete_form  table th, #content table td a {
	color: #00008F;
}

#content #delete_form table th {
	font-weight: bold;
}

#content #actions {	
	margin-top: 20px;
}

#content #actions button {
	padding: 10px;
	border: none;
	background-color: #4585F4;
	margin-left: 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}

/* below is the design for the next and previous actions */

#content #next_prev_actions button {
	padding: 10px;
	border: none;
	background-color: #4585F4;
	margin-left: 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}


/* end */

#footer {
	margin-top: 20px;
	padding: 70px 10px 70px 10px;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
}

#footer a {
	color: #4585F2;
	text-decoration: none;
}








